# macOS specific
.DS_Store

# Node
node_modules/

# Python
__pycache__
config.py

# Generated output
outputs/
*.zip

# Coding assistants' stuff
.agents/
/CLAUDE.md
/instructions.md
.claude/
/GEMINI.md
.gemini/

# Cursor specific files
.cursor
.cursorignore
.cursorindexingignore

# VS2017 and VSCode config files.
.vscode
.vs

#zed config files
.zed